@media (min-width: 500px) {
    .ContactContainer {
        max-width: 50%;
    }
}

@media (max-width: 499px) {
    .Float {
        position: fixed;
        width: 7vh;
        height: 7vh;
        bottom: 5vh;
        right: 5vh;
        color: #FFF;
    }
}

.Float {
    height: 7vh;
    width: 7vh;
    margin: 4vh auto !important;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
}

.ContactContainer {
    margin: 0 auto;
    padding: 0 30px;
}

.Logo {
    max-height: 30vh;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ContactList {
    overflow: auto;
    height: 50vh;
    padding-right: 20px !important;
}


