@media (min-width: 500px) {
    .ContactContainer {
        max-width: 50%;
    }
}

.ContactContainer {
    margin: 0 auto;
    padding: 0 30px;
}

.Logo {
    height: 30vh;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ContactList{
    overflow: auto;
    height: 50vh;
    padding-right: 20px !important;
}

.Float{
    position: fixed;
    width: 7vh;
    height: 7vh;
    bottom: 5vh;
    right: 5vh;
    color: #FFF;
}
