@media (min-width: 500px) {
    .ContactContainer {
        max-width: 50%;
    }
}

.ContactContainer {
    margin: 50px auto;
    padding: 0 30px;
}

.Logo {
    width: 150px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}
